.main-conteiner {
    background: linear-gradient(90deg, #000000, #ffffff, #000000);
    background-size: 300% 300%;
    animation: gradientBG 70s ease infinite;
    padding: 20px;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    display: flex;
    background-color: black;
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
    font-weight: bold;
    transition: transform 0.3s;
}

.navbar a:hover {
    transform: scale(1.1);
}

.nav-list {
    display: flex;
    margin-left: 70px;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
    background-color: dimgrey;
}

@media (max-width: 1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: 4px double white;
        background-color: rgb(29, 28, 28);
        color: white;
        display: block;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .nav-btn:hover {
        background-color: rgb(70, 70, 70);
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(29, 28, 28);
    }

    .navbar {
        justify-content: space-between;
    }
}

.lip {
    text-decoration: none;
    color: white;
    font-size: medium;
    margin: 20px 1px 30px 30px;
}

.nav-btn {
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;

}

.ppp {
    font-weight: bold;
}

img {
    width: 300px;
    height: 250px;
    border: 6px double black;
    border-radius: 10px;
    box-shadow: 8px 8px black;
}

.main-conteiner button {
    padding: 12px 25px;
    font-size: 12px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}

.main-conteiner p {
    margin-top: 5px;
    color: #000;
}

button {
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.3s ease infinite;
}

button:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    box-shadow: 8px 8px black;
}